<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-3">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          <a class="level-item" href="https://gitlab.com/neucrypt">
            <span class="icon">
              <i class="fa fa-gitlab"></i>
            </span>
          </a>
        </nav>
      </div>
    </nav>
   <p>This page hosts some of the projects from the neu crypto group at Northeastern university. 
   <p>Members are <a href="https://shelat.ccs.neu.edu">abhi</a>, Daniel Wichs, Jon Ullman,  Ran Cohen, Megan Chen, <a href="https://jackdoerner.net">Jack Doerner</a>, Yashvanth Kondi, Eysa Lee, Nathan Lilienthal, Schuyler Rosefield.</p>
  </div>

</section>
