{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">

    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Params.gitlink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <h2 class="subtitle is-6">
      {{ if .Params.paper }} <a href="{{ .Params.paper }}">paper</a>{{end}}
      </h2>
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        ...<a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read more
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "footer" . }}
